<div class="content">
  <%-include('./nav')%>
  <div class="page-content">
    <%-include('./slideshow')%>
    <h4 class="heading">
      Popular Movies
      <!-- check for category -->
    </h4>
    <%-include('./movieList',{movies:movies})%>
  </div>
</div>
