<nav>
  <ul class="nav-items">
    <li><a href="/" class="nav-item">Home</a></li>
    <li><a href="/movies" class="nav-item">Movies</a></li>
    <li><a href="/anime" class="nav-item">Anime</a></li>
    <li><a href="/animations" class="nav-item">Animations</a></li>
  </ul>
  <form action="" class="search-form">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="text"
      name="search"
      id="search-field"
      placeholder="search..."
    />
  </form>
  <div class="profile">
    <i class="fa-solid fa-bell"></i>
    <img src="assets/profile.png" alt="" />
  </div>
</nav>
