<div class="slideshow">
  <img src="assets/slide.jpg" alt="" />
  <div class="overlay">
    <h1 id="slogan">
      Unlock the Reel Magic: Your Premier Destination for Cinematic Adventures!
    </h1>
  </div>
</div>
